		/*menu topo horizontal*/
		*{
			margin: 0;
			padding: 0;
		}
		body{
			margin: 0px !important;
			overflow-x: hidden;
		}
		
		.menu-horizontal
		{
			position: fixed;
			z-index: 100;
			width: 100vw;
			display: flex;
			justify-content: space-between;
			padding-top: 2vh;
		}

		#menu {
			border:0px solid red;
			padding: 10px
		}

		.menu-vertical
		{
			position: absolute;
			background: #fff;
			top: 0;
			right: 0;
			width: 45vw;
			height: 100vw;
			display: none;
		}
		.menu-vertical ul 
		{
				border: 0px solid red;
				display: flex;
				align-items: center;
				flex-direction: column;
				margin-top: 10vh;
		}		
		
		.menu-vertical ul li
		{
			list-style: none;
			padding-bottom: 3vh;
			padding-top: 3vh;
		}		
		
		.menu-vertical ul li a
		{
			color: #636262;
			font-size: 2em;
		}		
	
		.linksMenu{
			visibility: visible;
			display: flex;
			flex-direction: row;
			margin-top: 2vh;
			margin-right: 5vw;
		}

		.linksMenu li{
			list-style: none;
			margin-right: 4vw;
			
		}

		.linksMenu li:hover{
			border-bottom: 5px solid #fdf908;
			transition: .5s;
		}

		.linksMenu li a{
			color: #e3dfdf;
			text-shadow: 1px 1px 1px #000;
			font-size: 1.6em;
			font-weight: 900;
			letter-spacing: 0.1em;
			text-decoration: none;
		}
		
		.sticky  a{
			color: #dbdada !important;
		}

		.menu-hamburguer
		{
			visibility: hidden;
			display: none;
			width: 7vw;
			margin-top: 1vh;
			margin-right: 2vw;
		}

		#titulo{
				font-size: 32px;
				color:#fff;
				margin-top:30px;
			}
		#titulo img
		{
			width: 8vw;
			position: relative;
			top: -1vh;
			left: 5vw;
		}	
				

		/*nav stick*/
		nav{
			transition: .5s;
		}
		nav.sticky {
			background: #b6b5b5;
		}
		/*action li*/		
		.active {
			border: 0px solid darkorange !important;
			border-bottom: 5px solid darkorange !important;
    		/* background-color: #ccc */
		}
		/*baner principal*/
		#containerPricnipal {
			    border: 0px solid red;
				padding-bottom: 50vh;
				background-image: url(../img/fundoBanner03.jpg);
				background-size: cover;
				position: relative;
				background-repeat: no-repeat';
		}
		#overlay{
			position: absolute;
			background: #4683da;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			mix-blend-mode: overlay;
		}

		#textoContainerPrincipal {
			border:0px solid red;
			margin-top:100px 
		}
		.texto-principal{
			margin-top: 25vh;
			display: flex;
			align-content: center;
			justify-content: center;
		}

		#textoPrincipal {
			text-align: center;
			color:#ffffff;
			text-shadow: 1px 5px 6px #000;
			margin-top: 8vh;
			width: 45vh;
			padding: 20px;
			background-image: linear-gradient(348deg, #505f73, transparent);
		}
	
		#textoPrincipal h1{
			font-size: 55px;
			text-align: center;
		}
		#textoPrincipal #segundoSubtitulo{
			font-size: large;
			text-align:center;
			text-transform: uppercase;

		}
		#textoPrincipal #terceiroSubtitulo{
			font-size: large;
			text-align:center;
			text-transform: uppercase;

		}
		#textoPrincipal #telefone{
			font-size: 35px;
			color: #f8ae0e;
			text-align: center
		}
		/*cartoes*/	
		.cartoes{
			margin-top: -50vh;
			margin-left: 10vw;
		}
		.linha-cards-servicos{
			display: flex;
		}
		.cartoes .cartao{
			padding: 0;
			margin-right: 3vw;
			position: relative;
			box-shadow: 1px 3px 6px #000;
			height: 600px;
			width: 25vw;
		}
		
		.cartoes .cartao .textoCartao{
			text-align: center;
			padding: 3px
		}
		
		.cartoes .cartao .textoCartao p{
			font-size: 1.2em;
			color: #fff;
			text-shadow: 1px 1px 1px #000;
		}
		
		.cartoes .cartao .textoCartao h2{
			font-size: 3em;
			text-shadow: 1px 2px 4px #000;
			color: #fff;

		}
		
		.cartoes .cartao .textoCartao .botoes-servicos{
			font-size: 2.2em;
			margin-top: 1vh;
			margin-bottom: 1vh;
			
		}
		/*ajustar a borda do cartão*/
		.borda
		{
			width: 80px;
			height: 80px;
			background: #d1d10e;
			position: absolute;
			top: -10px;
			left: -10px;
			box-shadow: -1px -1px 10px #000;
		}
		.cartao-conteiner
		{
			position: relative;
			z-index: 2;
		}

		.cartao-conteiner img
		{
			width: 100%;
		}
		/*todos os serviços*/
		.todos_os_servicos
		{
			padding-bottom: 20vh;
		}

		.cartoes .cartao .textoCartao .descrServico {
			text-align: center
		}	
		#textoEletricita {
			background-color: #e4a609
		}
		#textoEncanador{
			background-color: #f7bb3b
		}	
		#textoPedreiro{
			background-color: orangered
		}
		.fundoDivsCartoes{
			height: 40vh;
			background-color: #41562f
		}
		/*serviços*/
		.marcadorServicoEletricista{
			width: 50px;
			height: 50px;
			font-size: 25px;
			text-align: center;
			background-color: #faac04
			
		}
		.tituloServicoEncanador{
			font-size: 25px;
		}
		/*serviços encanador*/
		.marcadorServicoEncanador{
			width: 50px;
			height: 50px;
			font-size: 25px;
			text-align: center;
			background-color: #04fa3971
			
		}
		.tituloServicoEletricista{
			font-size: 25px;
		}
		/*alvenaria*/
		.marcadorAlvenaria{
			width: 50px;
			height: 50px;
			font-size: 25px;
			text-align: center;
			background-color: chocolate
		}
		/*rotapé*/
		footer {
			background-color: #000000ad
		}		
		#rodapeServicosContainer{
			
			color: #fff
		}
		#rodapeTituloMapa {
			background-color: #2e8ab3;
			height: 7vh;
			margin-top: -6vh
		}
		#rodapeTituloMapa h4 {
			color:#fff
		}
		
		.informacoesRodape li{
			list-style: none;
			padding: 12px
		}
		.informacoesRodape li:hover{
			background-color: #ccc
		}
		.servicosRodape li{
			list-style: none;
			padding: 12px
		}
		.servicosRodape li:hover{
			background-color: #ccc
		}
		.redesSociaisRodape li{
			list-style: none;
			display: inline
		}
		.tituloListaRodape{
			font-size: large;
			font-weight: bold

		}
		/*testemunhos*/
		.secao-testemunhos
		{
			/* height: 100vh; */
			background: #ccc;
			padding-top: 15vh;
			padding-bottom: 24vh;
		}
		
		.secao-testemunhos .titulos-testemunhos
		{
			text-align: center;
			font-size: 3em;
			color: #c38919;
			text-shadow: 1px 1px 1px #000;
		}

		.secao-testemunhos .lista-testemunho
		{
			padding-top: 5vh;
			padding-bottom: 5vh;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		
		.secao-testemunhos .card-testemunhos
		{
			width: 25vw;
			text-align: center;
			padding: 10px 20px;
		}
		
		.secao-testemunhos .card-testemunhos .box-texto
		{
			padding: 15px 15px;
			font-size: 1.2em;
			border: 1px solid #b0aeae;
			border-top: 7px solid #b17112;
			color: #363636;
			letter-spacing: .1em;
		}
	
		.secao-testemunhos .card-testemunhos .img-testemunho
		{
			margin-top: 2vh;
			padding: 1vh;
		
		}
		
		.secao-testemunhos .card-testemunhos .img-testemunho .nome
		{
			padding-top: 1vh;
			padding-bottom: 1vh;
			font-size: 2.2em;
		}
		
		.secao-testemunhos .card-testemunhos .img-testemunho .cargo
		{
			color: #f4890a;
			font-size: 27px;
			font-size: 1.4m;
			text-shadow: 1px 1px 1px #000;
		}

		.secao-testemunhos .card-testemunhos img
		{
			width: 8em;
			height: 8em;
			border-radius: 61px;
		}
		/*rodape*/
		.comp-rodape
		{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-content: center;
			justify-content: space-around;
			text-align: center;
			padding-top: 8vh;
    		padding-bottom: 12vh;
			color: #b3b3b3;
		}

		.comp-rodape h3
		{
			margin-bottom: 3vh;
			font-size: 2.5em;
		}

		.comp-rodape .endereco-rodp
		{
			text-align: left;
			font-size: 1.5em;
			padding-left: 3vw;
		
		}
		
		.comp-rodape .telefone_r
		{
			font-size: 3.2em;		
		}
		
		.comp-rodape .lista-bt-sociais
		{
			display: flex;
			align-items: center;
			justify-content: space-evenly;
		}

		.comp-rodape .lista-bt-sociais .bt-sociais
		{
			width: 17%;
			padding: 17px;
			background-color: #696561;
			border-radius: 50%;
		}
		
		.comp-rodape .lista-bt-sociais .bt-sociais img
		{
			width: 1.2em;
			filter: invert(1);
		}
	
		
		.comp-rodape .cards-rodape
		{
			border: 0px solid red;
			width: 25vw;
		}

		.comp-rodape .horas-rodp
		{
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		
		.comp-rodape .horas-rodp .horarios
		{
			width: 30vw;
			border: 0px solid red;
			font-size: 2.3em;
		
		}

		/*rapado tacho*/
		#rapaDoTacho{
			text-align: center;
			background: #4d4c4c;
			padding-top: 2vh;
			padding-bottom: 2vh;
			color: #333333;
		}
		/*tablet*/
		@media screen and (max-width: 770px)
		{
			.linksMenu
			{
				visibility: hidden;
				display: none;
			}
			
			.menu-hamburguer
			{
				visibility: visible;
				display: block;
				width: 7vw;
				margin-top: 1vh;
				margin-right: 4vw;
			}
			
			.menu-hamburguer img
			{
				width: 5vw;
			}

			.menu-vertical
			{
				z-index: 1000;
				position: fixed;
				background: #fff;
				top: 0;
				right: 0;
				width: 0vw;
				/* width: 45vw; */
				height: 200vw;
				display: block;
				overflow: hidden;
				transition: .5s;
			}

			.linksMenu-mobil ul li
			{
				border: 1px solid red;
			}
			
			.linksMenu-mobil ul li a
			{
				text-decoration: none;
			}

			.linha-cards-servicos {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			
			.cartoes .cartao {
				width: 50vw;
				margin-bottom: 6vh;
			}
			
			.secao-testemunhos .lista-testemunho {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
			}
			
			.secao-testemunhos .card-testemunhos {
				width: 56vw;
				margin-bottom: 8vh;
			}
			.secao-testemunhos .card-testemunhos .box-texto {
				width: 50vw;
			}
			
			footer {
				background-color: #424142ad;
			}
			.comp-rodape .cards-rodape {
				width: 32vw;
			}
			.comp-rodape .endereco-rodp {
				text-align: left;
				font-size: 1.1em;
				padding-left: 3vw;
			}
			.comp-rodape .telefone_r {
				font-size: 1.6em;
			}
			.comp-rodape h3 {
				font-size: 1.1em;
			}
			.comp-rodape .lista-bt-sociais .bt-sociais {
				width: 28%;
				padding: 17px;
				background-color: #696561;
				border-radius: 50%;
			}
			.comp-rodape .lista-bt-sociais .bt-sociais img {
				width: .8em;
				filter: invert(1);
			}
			.comp-rodape .horas-rodp .horarios {
				font-size: .9em;
			}
		}				
						
