		/*menu topo horizontal*/
		
		body{
			margin: 0px !important;
		}
		#menu {
			border:0px solid red;
			padding: 10px
		}
		#titulo{
				font-size: 32px;
				color:#fff;
				margin-top:30px;
			}
			#titulo span{
				color:rgb(255, 202, 29);
				letter-spacing: 10px
			}		
				#titulo:hover{
					text-decoration:none;
				}		

		@media (min-width: 768px) {
			#tituloContainer {
				margin-top: 26px;
			}
				/*link menu*/
				.linksMenu li {
					border: 0px solid red;
					background-color: #1b1b1b;
					width: 14vh;
					height: 90px;

				}
				.linksMenu li a{
					border: 0px solid green;
						width: 100%;
    					height: 100%;
							display: flex;
							align-items: center;
							justify-content: center;					
				}				
				.linksMenu li:hover {
					border-bottom: 5px solid rgb(255, 202, 29);
					background-color: #363535;
				}		
		}
		/*action li*/		
		.active {
			border: 0px solid darkorange !important;
			border-bottom: 5px solid darkorange !important;
    		background-color: #ccc
		}
		/*baner principal*/
		#containerPricnipal {
			border:0px solid red;
			height: 480px;
			margin-top: -20px;
			background-image: url('../img/fundoBanner1-min.jpg')
		}
		#textoContainerPrincipal {
			border:0px solid red;
			margin-top:100px 
		}
		#textoPrincipal {
			border:0px solid red;
			color:rgb(248, 242, 242);
			margin-top: 8vh;
			width: 45vh;
			background-color:hsla(215, 57%, 49%, 0.53);
			padding: 20px
		}
		#textoPrincipal h1{
			font-size: 55px;
			text-align: right
		}
		#textoPrincipal #segundoSubtitulo{
			font-size: large;
			text-align:right
		}
		#textoPrincipal #terceiroSubtitulo{
			font-size: large;
			text-align:right
		}
		#textoPrincipal #telefone{
			font-size: 35px;
			color: rgb(247, 181, 103);
			text-align: center
		}
		/*cartoes*/	
		.cartoes{
			margin-top: -50vh
		}
		.cartoes .cartao{
			padding: 0
		}
		.cartoes .cartao .textoCartao{
			text-align: center;
			padding: 3px
		}
		@media (min-width: 1200px) {
			.cartoes .cartao img{
				width: 22vmax
			}
		}
		@media (max-width: 767px) {
			.cartoes .cartao img{
				width: 100%
			}
		}
		.cartoes .cartao .textoCartao .descrServico {
			text-align: center
		}	
		#textoEletricita {
			background-color: #e4a609
		}
		#textoEncanador{
			background-color: #f7bb3b
		}	
		#textoPedreiro{
			background-color: orangered
		}
		.fundoDivsCartoes{
			height: 40vh;
			background-color: #41562f
		}
		/*serviços*/
		.marcadorServicoEletricista{
			width: 50px;
			height: 50px;
			font-size: 25px;
			text-align: center;
			background-color: #faac04
			
		}
		.tituloServicoEncanador{
			font-size: 25px;
		}
		/*serviços encanador*/
		.marcadorServicoEncanador{
			width: 50px;
			height: 50px;
			font-size: 25px;
			text-align: center;
			background-color: #04fa3971
			
		}
		.tituloServicoEletricista{
			font-size: 25px;
		}
		/*alvenaria*/
		.marcadorAlvenaria{
			width: 50px;
			height: 50px;
			font-size: 25px;
			text-align: center;
			background-color: chocolate
		}
		/*rotapé*/
		footer {
			background-color: #000000ad
		}		
		#rodapeServicosContainer{
			
			color: #fff
		}
		#rodapeTituloMapa {
			background-color: #2e8ab3;
			height: 7vh;
			margin-top: -6vh
		}
		#rodapeTituloMapa h4 {
			color:#fff
		}
		
		.informacoesRodape li{
			list-style: none;
			padding: 12px
		}
		.informacoesRodape li:hover{
			background-color: #ccc
		}
		.servicosRodape li{
			list-style: none;
			padding: 12px
		}
		.servicosRodape li:hover{
			background-color: #ccc
		}
		.redesSociaisRodape li{
			list-style: none;
			display: inline
		}
		.tituloListaRodape{
			font-size: large;
			font-weight: bold

		}
		/*rapado tacho*/
		#rapaDoTacho{
			font-size: 18px;
			color:#fff;
			background-color: #1b1b1b
		}				

